<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8>
	<title>Modular Gaming Install</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
			{{{bootstrap}}}

		body {
			margin-top: 10px;
		}

		.install-block {
			margin-top: 30px;
		}
	</style>
</head>
<body class="install">

<div class="container">

	{{>content}}

	<hr>

	<footer>
		<p>&copy; Modular Gaming 2013</p>
	</footer>
</div>
</body>
</html>